[Unit]
Description=Test Service
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/_scripts
ExecStart=/bin/bash -c 'source python3_venv/bin/activate && python3 powertemp.py'

[Install]
WantedBy=multi-user.target
